@page "/albums"
<h3>Albums</h3>
<input @bind="newAlbumName" placeholder="New Album Name" />
<button @onclick="CreateAlbum">Create Album</button>
<ul>
    @foreach (var album in albumList)
    {
        <li>
            <a href="/album/@album">@album</a>
        </li>
    }
</ul>
