@page "/"
<h3 class="page-title">All Media</h3>

@if (selectedMedia.Values.Any(selected => selected))
{
    <div class="action-buttons">
        <button @onclick="DeleteSelectedMedia" class="global-delete-button">Delete Selected</button>
        <button @onclick="DownloadSelectedMedia" class="download-button">Download Selected</button>
    </div>
}

<div class="media-container">
    @foreach (var media in mediaList)
    {
        <div class="media-item">
            <input type="checkbox" class="media-checkbox" @bind="selectedMedia[media]" />
            @if (IsImage(media))
            {
                <img src="@media" alt="Media Preview" class="media-preview" @onclick="() => ShowFullImage(media)" />
            }
            else if (IsVideo(media))
            {
                <video controls class="media-preview">
                    <source src="@media" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>

            }
        </div>
    }
</div>

@if (!string.IsNullOrEmpty(fullImagePath))
{
    <div class="modal" @onclick="CloseFullImage">
        <div class="modal-content">
            <img src="@fullImagePath" class="full-image" />
        </div>
    </div>
}
